@model UsingJqueryDataTables.ViewModel.OrderDetailsViewModel

<div>
    <table id="table_id"
           class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th>
                    OrderID
                </th>
                <th>
                    ProductID
                </th>
                <th>
                    UnitPrice
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Discount
                </th>


            </tr>
        </thead>

        <tbody>
                @foreach (var item in Model.OrderDetails)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Discount)
                        </td>

                    </tr>
                }
            </tbody>
    </table>
</div>

<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>